<?xml version="1.0" encoding="utf-8"?>
<resources xmlns:tools="http://schemas.android.com/tools"
tools:discard="@string/api_key_google_maps">
   <!--
   <string name="api_key_google_maps">xxxxxx</string>
   -->
</resources>